{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getLanguage ?: 'it-IT' }}">
<head>
{% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.metadata.title|e('html') }}</title>
    {% include 'partials/metadata.html.twig' %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{ url('theme://images/favicon.png') }}" />
    <link rel="canonical" href="{{ page.url(true, true) }}" />
 <link href="https://fonts.googleapis.com/css?family=Quattrocento" rel="stylesheet">  
 <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,900&display=swap" rel="stylesheet"> 

<!--Open Graph-->
<meta property="og:site_name" content="{{ site.title|e('html') }}">
<meta name="og:title" property="og:title" content="{% if header.title %}{{ header.title|e('html') }}{% else %}{{ site.metadata.title|e('html') }}{% endif %}" />
<meta name="og:description" property="og:description" content="{% if header.metadata.description %}{{ header.metadata.description|e('html') }}{% else %}{{ site.metadata.description|e('html') }}{% endif %}" />
<meta property="og:type" content="article" />
<meta property="og:url" content="{{ page.url }}" />

{% if page.taxonomy.date %}
<meta property="article:published_time" content="{% for date in page.taxonomy.date %}{{ date }}{% endfor %}">
{% endif %}
<meta name="author" content="{% if page.taxonomy.author %}{% for author in page.taxonomy.author %}{{ author }}{% endfor %}{% else %}{{ site.metadata.title|e('html') }}{% endif %}">
<!--Twitter-->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image:alt" content="Alt text for image">    
<!--STYLES-->
{% block stylesheets %}
        {% do assets.addCss('theme://css/style.css') %}
        {% do assets.addCss('theme://css/font-awesome.min.css', 100) %}

        
{% endblock %}
    {{ assets.css() }}
<!--JS-->

{% endblock head %}
</head>





<body id="top" class="{{ page.header.body_classes ?: 'modular header-image fullwidth' }}">

{% block body %}
{% block content %}{% endblock %}
{% endblock %}

        
</body>
</html>
