<div class="box sidebar wrapper u-p_r--2 u-bg--lg sidebar-main">
    <div class="box sidebar">
        <div style="text-align:right; padding-top: 1rem"><a href="{{ base_url_absolute }}:1080" title="Return to home"><img src="http://polet500.it/assets/img/favicon.png" style="height:36px; width:36px"></a></div>
    </div>
                
    <div class="box content">
        <h1 class="h1 uppercase u-t_sans">{{ site.title }}</h1>
        <br>
        <p class="display"><strong>{{ site.metadata.description }}. </strong></p>
        <p class="display">{{ site.metadata.headline }}.</p>
        
        <ul class="menu" >
            <h2 class="h2 uppercase u-t_sans">Navigazione</h2>
            <li class="u-t_sans"><a href="{{ base_url_absolute }}:1080">Home</a></li>
            <li class="u-t_sans"><a href="{{ base_url_absolute }}:1080/schede/indice_degli_argomenti">Indice degli argomenti</a></li>
            <li class="u-t_sans"><a href="{{ base_url_absolute }}:1080/schede/indice_dei_personaggi">Indice dei personaggi</a></li>
        </ul>

        <ul class="menu" >
            <h2 class="h2 uppercase u-t_sans">Il progetto</h2>
            <li class="u-t_sans">Contatti</li>
            <li class="u-t_sans"><a href="{{ base_url_absolute }}:1080/collaboratori">Collaboratori</a></li>
            <li class="u-t_sans"><a href="{{ base_url_absolute }}:1080/comitato">Comitato di lettura</a></li>
            <li class="u-t_sans"><a href="{{ base_url_absolute }}:1080/bibliografia">Bibliografia</a></li>
        </ul>

        <div class="social">
        <p class="display" style="color:#666">
		    <span class="social-item"><a href="http://facebook.com/polet500"><i class="fa fa-facebook"></i></a></span>
		    <span class="social-item"><a href="http://twitter.com/polet500"><i class="fa fa-twitter"></i></a></span>
			
			<span class="social-item"><a href="http://github.com/polet500"><i class="fa fa-github"></i></a></span>
			
            <span class="social-item"><a href="{{ base_url_absolute }}:1080/schede/.rss"><i class="fa fa-feed"></i></a></span>
			
			<span class="social-item"><a href="https://play.google.com/store/apps/details?id=appinventor.ai_antonello_f_caterino.PoLet500&amp;hl=en" target="_blank"><i class="fa fa-android"></i></a></span>

            <span class="social-item"><a href="{{ base_url_absolute }}:1080/sitemap"><i class="fa fa-sitemap"></i></a></span>
		</p>

    </div>                 
</div>
    </div>
