<div class="box sidebar wrapper u-p_r--2 u-bg--lg sidebar-main">
    <div class="box sidebar">
        <div style="text-align:right; padding-top: 1rem"><a href="{{ base_url_absolute }}:1080" title="Return to home"><img src="http://polet500.it/assets/img/favicon.png" style="height:36px; width:36px"></a></div>
    </div>
                
    <div class="box content">
        <h1 class="h1 uppercase u-t_sans">{{ site.title }}</h1>
        <br>
        <p class="display"><strong>{{ site.metadata.description }}. </strong></p>
        <p class="display">{{ site.metadata.headline }}.</p>
        <br><br><br>
        
        <ul class="menu">
            <h2 class="h2 uppercase u-t_sans">Navigazione</h2>
            <li class="u-t_sans"><a href="{{ base_url_absolute }}:1080">Home</a></li>
            <li class="u-t_sans"><a href="{{ base_url_absolute }}:1080/schede/indice_degli_argomenti">Indice degli argomenti</a></li>
            <li class="u-t_sans"><a href="{{ base_url_absolute }}:1080/schede/indice_dei_personaggi">Indice dei personaggi</a></li>
        </ul>
            <br><br>

        <ul class="menu">
            <h2 class="h2 uppercase u-t_sans">Il progetto</h2>
            <li class="u-t_sans">Contatti</li>
            <li class="u-t_sans"><a href="{{ base_url_absolute }}:1080/collaboratori">Collaboratori</a></li>
            <li class="u-t_sans"><a href="{{ base_url_absolute }}:1080/comitato">Comitato di lettura</a></li>
            <li class="u-t_sans"><a href="{{ base_url_absolute }}:1080/bibliografia">Bibliografia</a></li>
        </ul>
    </div>                 
</div>