{% embed 'partials/base.html.twig' %}

{% block content %}
{% set feed_url = blog.url == '/' or blog.url == base_url_relative ? (base_url_relative~'/'~blog.slug) : blog.url %}
{% set new_base_url = blog.url == '/' ? '' : blog.url %}

<div class="wrapper main">
	<div class="box sidebar wrapper u-p_r--2 u-bg--lg">
        <div class="box sidebar">
            <div style="text-align:right; padding-top: 1rem"><a href="{{ base_url_absolute }}:1080" title="Homepage"><img src="http://polet500.it/assets/img/favicon.png" style="height:36px; width:36px"></a></div>
        </div>

		<div class="box content">
			<h1 class="h1 u-t_sans">{{ page.header.title }}</h1>
			<p class="u-t_sans"> {{ page.header.taxonomy.author }} | {{page.header.date}}</p>
							
			<h2 class="h2 u-t_sans">{{ page.header.taxonomy.chronology }}</h2>

			<p class="display">{{ page.header.metadata.description }}</p>
			
			<ul class="menu" tabindex="0">
				<h2 class="h2 uppercase u-t_sans">
					Argomenti 
					<span class="label">{{ page.header.taxonomy.tag | length }}</span>
				</h2>
				{% for tag in page.taxonomy.tag  %}
					<li class="u-t_sans">
						<a href="{{ site.url }}/schede/tag{{ config.system.param_sep }}{{ tag }}">{{ tag }}</a>
					</li>
				{% endfor %}
			</ul>		
			

			<ul class="menu" tabindex="0">	
				<h2 class="h2 uppercase u-t_sans">
					Personaggi 
					<span class="label">{{ page.header.taxonomy.char | length }}</span>
				</h2>
				{% for char in page.taxonomy.char  %}
					<li class="u-t_sans">
						<a href="{{ site.url }}/schede/char{{ config.system.param_sep }}{{ char }}">{{ char }}</a>
					</li>
				{% endfor %}
			</ul>	
			

			<ul class="menu" tabindex="0">	
				<h2 class="h2 uppercase u-t_sans">
					Riferimenti 
					<span class="label">{{ page.header.taxonomy.bibliography | length }}</span>
				</h2>
				{% for bibliography in page.taxonomy.bibliography |sort %}

					<li class="small u-t_sans">
						<span class="uppercase"> {{ bibliography.Autore }} ({{ bibliography.Data }})</span>, 
						<span><em>{{ bibliography.Titolo }}</em>.</span>
						
						{% if bibliography.Volume %}
							in 
							<span class="text-em"> {{ bibliography.Volume }}</span>;
						{% endif %}
						
						<span class="">{{ bibliography.Editore }}</span>,
						<span class="">{{ bibliography.Luogo }}</span> 
						{% if bibliography.Pagine %}
						,
							<span class="text-lowercase">pp. {{ bibliography.Pagine }}</span> 
						{% endif %}

						{% if bibliography.Link %}
							<a href="{{ bibliography.Link }}" target="_blank">
								<i class="fa fa-external-link" aria-hidden="true"></i>
							</a>
						{% endif %}
					
					</li>
				{% endfor %}
			</ul>
		</div>  
	</div>               


	<div class="box content">
    	<div class="card-item box entry-detailed display">
			{{ page.content }}
		</div>
	</div>
</div>


{% endblock %}

{% endembed %}